---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import { Icon } from 'astro-icon/components';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Get A Simple Plan to Help You Find New Clients Every Week—Without Feeling Tired or Stuck',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'I Want More Clients!',
        href: '#session',
        // target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <!-- A Simple Plan to Help You Find New Clients Every Week—Without Feeling Tired or Stuck -->
    <Fragment slot="title">
      <span class="hidden xl:inline">A Simple Plan to Help You </span> Find
      <span class="text-accent dark:text-white highlight"> New Clients</span>
      <span class="hidden xl:inline"> Every Week Without Feeling Tired or Stuck</span>
    </Fragment>

    <!-- This is not just a chat. It's a step-by-step look at how to grow your business with The RED Method. In just 45 minutes, we’ll show you what to fix, what to change, and how to get more of the right people saying “yes” to your offer. -->
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        In just 45 minutes, we’ll show you what to fix, what to change, and how to get more of the right people saying
        “yes” to your offer.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">With Less Work and No Guessing</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <section class="bg-blue-50 dark:bg-slate-800 not-prose">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <span class="font-bold">
        <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" />Here’s why</span
      > this 45-minute call can change everything
    </div>
  </section>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="Is Getting Clients Hard Right Now?"
    items={[
      {
        title: 'People say they’re interested, but don’t buy',
        icon: 'tabler:x',
      },
      {
        title: 'You feel like you’re doing too much by yourself',
        icon: 'tabler:x',
      },
      {
        title: 'You want more clients, but you’re not sure what to fix',
        icon: 'tabler:x',
      },
      {
        title: 'You’re tired of guessing what works',
        icon: 'tabler:x',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    isReversed
    tagline="What You Get From"
    title="Your Free Client Workshop"
    items={[
      {
        title: 'Clarity',
        description: 'We’ll show you what’s working—and what’s not',
      },
      {
        title: ' A Real Plan',
        description: 'You’ll get a simple plan to bring in more clients',
      },
      {
        title: 'Next Steps',
        description: 'You’ll know the next steps to take right away',
      },
      {
        title: 'Zero Pressure',
        description: 'No pushy sales talk—just real help',
      },
    ]}
    image={{
      src: '~/assets/images/client-engine-map.png',
      alt: 'The RED Method Map',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        A 45-Minute Call That Delivers Real Answers Not Just Talk
      </h3>
      Walk away with a custom plan to attract better clients, faster and without the stress or sales games.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <a id="session"></a>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->
  <Steps2
    title="Why is this Free?"
    subtitle="Simple: some people ask us to help implement the RED Method after the workshop. If that’s you- awesome. If not, no pressure. Either way, you’ll walk away with a game plan that could change the way you do business."
    items={[
      {
        title: 'Review',
        description:
          'When you book a free workshop, we’ll take a focused look at what’s working in your business, where leads or clients might be slipping through the cracks, and what you can fix to grow faster.',
      },
      {
        title: 'Recommend',
        description:
          'I’ll walk you through the exact steps to improve how you bring in new clients using the RED Method so you walk away with a clear plan you can use right away.',
      },
      {
        title: 'Guarantee',
        description:
          'You’ll get real tips you can act on- no fluff, no sales pitch. Just helpful ideas to get more of the right clients and an offer to help you get their faster.',
      },
    ]}
  />
  <Fragment>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  </Fragment>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a Free RED Workshop Today',
        href: '#',
        // target: '_blank',
        onclick:
          "Calendly.initPopupWidget({url: 'https://calendly.com/clients-jjg/client-engine-workshop?hide_gdpr_banner=1'});return false;",
        icon: 'tabler:presentation',
      },
    ]}
  />
  <Steps
    title="What is The RED Method?"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Refine & Simplify</span>',
        description: 'Clarify your offer and eliminate the noise so your message hits home instantly',
        icon: 'tabler:check',
      },
      {
        title: 'Step 2: <span class="font-medium">Engage & Automate</span>',
        description: 'Create a compelling first impression and regular connection—without spending hours chasing leads',
        icon: 'tabler:check',
      },
      {
        title: 'Step 3: <span class="font-medium">Develop & Grow</span>',
        description: 'Build momentum, grow your reach, with full control over your time',
        icon: 'tabler:check',
      },
    ]}
  />
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a Free RED Workshop Today',
        href: '#',
        // target: '_blank',
        onclick:
          "Calendly.initPopupWidget({url: 'https://calendly.com/clients-jjg/client-engine-workshop?hide_gdpr_banner=1'});return false;",
        icon: 'tabler:presentation',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->
  <!-- 
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->
  <!-- 
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->
  <!-- 
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get the Blueprint and Training',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  > -->
</Layout>
